@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap");
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями и видео
  */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  height: 100%;
  /**
     Убираем скачок интерфейса по горизонтали
     при появлении / исчезновении скроллбара
    */
  scrollbar-gutter: stable;
}

/**
   Плавный скролл
  */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  min-height: 100%;
  /**
     Унифицированный интерлиньяж
    */
  line-height: 1.5;
}

/**
   Нормализация высоты элемента ссылки при его инспектировании в DevTools
  */
a:where([class]) {
  display: inline-flex;
}

/**
   Курсор-рука при наведении на элемент
  */
button,
label {
  cursor: pointer;
}

/**
   Приводим к единому цвету svg-элементы
  */
[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: var(--container-width);
  margin-inline: auto;
}

:root {
  --font-size-base: 16px;
  --container-width: 1240px;
  --section-space: 6.25rem;
}

@media (min-width: 1920px) {
  :root {
    --section-space: 7.8125rem;
    --container-width: 80vw;
    --font-size-base: 18px;
  }
}
@media (max-width: 1440px) {
  :root {
    --section-space: 4.6875rem;
  }
}
@media (max-width: 1280px) {
  :root {
    --container-width: 1000px;
  }
}
@media (max-width: 1000px) {
  :root {
    --section-space: 3.125rem;
    --font-size-base: 14px;
    --container-width: 700px;
  }
}
@media (max-width: 750px) {
  :root {
    --font-size-base: 12px;
    --container-width: 80vw;
  }
}

body {
  font-family: "Chakra Petch";
  background-color: #18181b;
  color: #d1d1d1;
  line-height: 1.75;
  font-size: var(--font-size-base);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

.h2,
.h3 {
  text-align: center;
}

.h2 {
  font-weight: 500;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  background: linear-gradient(to right, #19B5F1 0%, #CA6AEB 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h3 {
  font-weight: 600;
  font-size: clamp(2rem, 1.6776859504rem + 1.3223140496vw, 3rem);
  line-height: 1.2;
}

.testimonial {
  height: 100vh;
  margin-top: var(--section-space);
  margin-inline: auto;
  position: relative;
}
.testimonial__header {
  position: relative;
  pointer-events: none;
  z-index: 300;
}
@media (max-width: 1280px) {
  .testimonial__header {
    top: 35%;
  }
}
@media (max-width: 1000px) {
  .testimonial__header {
    top: 0;
  }
}
.testimonial__main-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 300;
  pointer-events: none;
}
@media (max-width: 1440px) {
  .testimonial__main-image {
    width: 31.25rem;
    height: auto;
  }
}
.testimonial__body {
  position: relative;
  height: 100%;
  width: 100%;
}
.testimonial__body::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  content: url("../../assets/svg/light.svg");
  z-index: -1;
  pointer-events: none;
}
@media (max-width: 1280px) {
  .testimonial__body {
    top: 25%;
  }
}

.testimoni {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.testimoni__orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.17);
  pointer-events: none;
}
.testimoni__user {
  width: 4.6875rem;
  height: 4.6875rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background-color: rgba(37, 37, 50, 0.6);
  top: -35px;
  cursor: pointer;
  pointer-events: auto;
  z-index: 400;
}
.testimoni__user::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  content: url("../../assets/svg/light.svg");
  z-index: -1;
  pointer-events: none;
}
.testimoni__user::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  padding: 1px;
  transition-duration: 0.3s;
  background: linear-gradient(to right, #19B5F1 0%, #CA6AEB 100%) border-box;
  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
          mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}
.testimoni__user::before, .testimoni__user::after {
  opacity: 0.05;
}
.testimoni__user:hover::before, .testimoni__user:hover::after {
  opacity: 1;
}
.testimoni__user:hover .testimoni__text {
  display: block;
}
.testimoni__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.2;
  position: relative;
  border: 1px solid #18181b;
  transition-duration: 0.3s;
}
.testimoni__avatar--visible {
  opacity: 1;
}
.testimoni__text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  left: 105%;
  background-color: rgba(37, 37, 50, 0.6);
  padding: 1.25rem 0.9375rem;
  width: -moz-max-content;
  width: max-content;
  max-width: 21.875rem;
  border: 1px solid transparent;
  -o-border-image: linear-gradient(to left, rgba(255, 255, 255, 0.17) 0%, transparent 100%) 1;
     border-image: linear-gradient(to left, rgba(255, 255, 255, 0.17) 0%, transparent 100%) 1;
  -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 5% 100%, 0% 50%, 5% 0);
          clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 5% 100%, 0% 50%, 5% 0);
}
@media (max-width: 1000px) {
  .testimoni__text {
    max-width: 12.5rem;
  }
}
.testimoni__description {
  color: #d1d1d1;
}
.testimoni__author {
  display: inline-block;
  color: #fff;
}
.testimoni__author::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, #19B5F1 0%, #CA6AEB 100%);
}

.about-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--section-space);
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}
.about-us__subtitle {
  text-align: start;
  display: inline-block;
}
.about-us__title {
  margin-block: 0.75rem;
  text-align: start;
}
.about-us__list {
  list-style-type: none;
  margin-top: 1.5rem;
  color: #fff;
  font-weight: 400;
}
.about-us__list-item:not(:last-child) {
  margin-bottom: 0.875rem;
}
.about-us__image {
  --image-width: 25vw;
  --image-height: calc(var(--image-width) * 1.25);
  position: relative;
  width: var(--image-width);
  height: var(--image-height);
}
.about-us__image::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  content: url("../../assets/svg/light.svg");
  z-index: -1;
  pointer-events: none;
}
.about-us__image::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #252532;
  width: calc(var(--image-width) - 8.4375rem);
  height: calc(var(--image-height) - 8.4375rem);
}
.about-us__image::after {
  z-index: 10;
}
.about-us__image > img {
  position: absolute;
  right: 0;
  bottom: -0.3125rem;
  z-index: 200;
}
.about-us__button {
  padding: 1.125rem 2.375rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #19B5F1 0%, #CA6AEB 100%);
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.11em;
  margin-top: 2rem;
}

.check-icon {
  margin-right: 3px;
  width: 16px;
  height: 16px;
}
.check-icon path {
  fill: url("#paint0_linear_28530_2192");
}/*# sourceMappingURL=main.css.map */