@use '../helpers' as *;

.about-us {
  @include flex(between);
  gap: rem(50);

  @include media(tablet) {
    flex-direction: column;
  }

  &__media {
    --container-width: #{fluid(520, 390)};
    --container-height: #{calc(var(--container-width) * 1.25)};

    @include light(true);
    @include square-behind(var(--container-width), var(--container-height));

    width: var(--container-width);
    height: var(--container-height);

    >img {
      position: absolute;
      right: -1rem;
      bottom: rem(-5);
      object-fit: cover;
    }
  }

  &__video-player {
    position: absolute;
    bottom: -1.2rem;
    right: 0;
    width: fluid(196, 147);
  }

  &__subtitle,
  &__title {
    margin-bottom: rem(12);
  }

  &__list {
    margin-top: rem(24);
    color: $white;

    &-item {
      @include flex(start);
      column-gap: rem(10);
    }

    &-item:not(:last-child) {
      margin-bottom: rem(14);
    }
  }

  &__button {
    margin-top: rem(32);
  }
}