@use '../helpers' as *;

.about-us {
  @include flex(between);

  gap: rem(50);

  @include media(tablet) {
    flex-direction: column;
  }

  // fix: костыль с высотами убрать
  &__image {
    @include light();

    --image-width: #{fluid(520, 390)};
    --image-height: #{calc(var(--image-width) * 1.25)};

    position: relative;
    width: var(--image-width);
    height: var(--image-height);

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: calc(var(--image-width) - #{rem(105)});
      height: calc(var(--image-height) - #{rem(135)});
      background-color: $black-80;
    }

    >img {
      object-fit: cover;
      position: absolute;
      right: -1rem;
      bottom: rem(-5);
      z-index: 200;
    }
  }

  &__video-player {
    position: absolute;
    bottom: -1.2rem;
    right: 0;
    z-index: 300;
    width: fluid(196, 147);
  }

  &__subtitle,
  &__title {
    margin-bottom: rem(12);
  }

  &__list {
    margin-top: rem(24);
    font-weight: 400;
    font-size: rem(18);
    color: $white;

    &-item {
      display: flex;
      align-items: center;
      column-gap: rem(10);
    }

    &-item:not(:last-child) {
      margin-bottom: rem(14);
    }
  }

  &__button {
    margin-top: rem(32);
  }
}

.check-icon {
  @include square(16px);

  & path {
    fill: url('#paint0_linear_28530_2192');
  }
}