@use '../helpers' as *;

// fix: Аккордион при клике меняет значение высота секции из-за чего весь блок прыгает

.accordion__content:not(:last-child) {
  margin-bottom: rem(48);
}

.accordion__title {
  @include flex(between);
  @include border-border-animation();

  padding-bottom: rem(10);
}

.focus-accordion {
  border-bottom-color: transparent;

  &::after {
    width: 100%;
  }
}

.circumflex {
  font-size: rem(10);
  rotate: 180deg;
  transition-duration: $transition-duration;
}

.focus-accordion .circumflex {
  rotate: 0deg;
}

// fix: подумать про display:none
.accordion__text {
  padding-top: rem(10);
  opacity: 0;
  transform: translateY(-30px);
  transition-duration: $transition-duration;
  max-height: 0;
}

.focus-text {
  opacity: 1;
  transform: translateX(0);
  max-height: 500px;
}