@use '../helpers' as *;

.banner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: rem(50);

    background-color: $black-80;

    border: 1px solid transparent;
    border-image: $border-linear;
    padding: rem(42) rem(64) rem(53) rem(64);

    @include media(tablet) {
      flex-direction: column;
    }

    @include media(mobile) {
      padding: rem(36);
    }
    &__title {
      font-size: rem(20);
      font-weight: 400;
      color: $white;
    }

    &__description {
      font-size: rem(16);
      line-height: 2;
    }
  
    &__icon {
      margin-bottom: rem(24);
    }
  
    &__description {
      margin-top: rem(12);
    }
  }
