@use '../helpers' as *;

.hero {
  &__banner {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: $black-80;
    border: 1px solid transparent;
    border-image: $border-linear;
    padding: rem(42) rem(64) rem(53);
    gap: rem(50);

    @include media(tablet) {
      flex-direction: column;
    }

    @include media(mobile) {
      padding: rem(36);
    }

    &-title {
      font-size: rem(20);
      font-weight: 400;
      color: $white;
    }

    &-description {
      font-size: rem(16);
      line-height: 200%;
      margin-top: rem(12);
    }

    &-icon {
      margin-bottom: rem(42);
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1rem;
      height: 100%;
      background-color: rgba(#fff, 0.6);
      transform: translateX(-10em) skewX(-45deg);
      opacity: 0;
    }

    @include hover(false) {
      &::before {
        animation-name: move-light;
        animation-duration: 1s;
      }
    }
  }
}

@keyframes move-light {
  1% {
    opacity: 0.2;
  }

  100% {
    transform: translateX(100vw) skewX(-45deg)
  }
}