@use '../helpers' as *;

.choose-us {
  @include flex(between);
  column-gap: 3rem;

  @include media(tablet) {
    flex-direction: column-reverse;
  }

  &__title {
    margin-block: rem(12) rem(32);
  }

  &__image {
    @include light();

    --image-width: #{fluid(560, 430)};
    --image-height: #{calc(var(--image-width) * 1.25)};

    position: relative;
    width: var(--image-width);
    height: var(--image-height);

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 7rem;
      background-color: $black-80;
      width: calc(var(--image-width) - #{rem(160)});
      height: calc(var(--image-height) - #{rem(200)});
      z-index: -1;
    }

    >img {
      position: absolute;
      bottom: 0;
      left: -0.5rem;
    }
  }

  &__video-player {
    position: absolute;
    bottom: -2rem;
    right: 5rem;
  }
}