@use '../helpers/' as *;

.header {
    // rem func
    padding-block: 31px;

    
    &__content {
        @include flex(around);
    }

    &__nav-bar {
        width: 518px;
    }

    &__nav-list {
        @include flex-align-center;
        justify-content: space-between;
    }

    // &__nav-item {
    //     a {
    //         // Вынести в глобальные стили
    //         color: $white;
    //         text-decoration: none;
    //     }
    // }

    .header__dropdown {
        &:hover {
            img {
                rotate: 180deg;
            }
            .header__dropdown-content {
                display: block;
            }
        }
    }

    &__dropdown-button-container {
        @include flex(between);
    }

    &__dropdown-button {
        border: none;
        color: $white;
        background-color: transparent;
        padding: 0;
        padding-right: 7px;
    }

    &__dropdown-content {
        display: none;
        position: absolute;
        background-color: inherit;
        z-index: 1;

        a {
            color: $white;
            margin: 20px 0;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        a:hover {
            background-color: $grey-1;
        }
    }

    &__contact-button {
        padding: 12px 24px;
        border: 1px solid transparent;
        border-image: $color-gradient;
        border-image-slice: 1;
        background: none;
        color: white;
    }
}