@use '../helpers' as *;

.slider {
  max-width: fit-content;

  &__pagination {
    @include flex(center);

    column-gap: rem(12);
    margin-top: rem(40);

    &-item {
      width: fluid(15, 9);
      height: fluid(7, 3);
      background-color: $grey-60;
      border-radius: $border-radius;
      transition-duration: $transition-duration;
      cursor: pointer;

      &:hover:not(&--active) {
        scale: 1.1;
      }

      &--active {
        width: fluid(25, 17);
        background-color: $white;
        cursor: default;
      }
    }
  }
}

.slide {
  position: relative;
  display: none;

  &--active {
    display: block;
  }
}