@use '../helpers' as *;

.testimonial {
  position: relative;
  height: 120vh;

  &__header {
    @include abs-center(y);

    top: 10%;
    pointer-events: none;

    @include media(laptop) {
      position: relative;
      top: 0;
      margin-bottom: rem(30);
    }
  }

  &__main-image {
    @include abs-center();

    width: fluid(618, 499);
    pointer-events: none;
  }

  &__body {
    @include light();

    position: absolute;
    height: 100%;
    width: 100%;

    // fix: Почему-то съезжает светилка 
    @include media(laptop) {
      &::after {
        top: 70%;
      }
    }

    @include media(mobile) {
      &::after {
        top: 90%;
      }
    }

  }
}