@use '../helpers' as *;

.testimonial {
  height: 100vh;
  // Почему не работает min-height ?

  &__header {
    position: relative;
    top: 10%;
    z-index: 500;
    pointer-events: none;
  }

  &__main-image {
    @include abs-center();

    z-index: 300;
  }

  &__body {
    @include light();

    position: relative;
    height: 100%;
    width: 100%;

  }
}