@use '../helpers' as *;

.testimoni {
  @include abs-center();
  pointer-events: none;

  &__orbit {
    @include abs-center();

    border-radius: 50%;
    border: 1px solid $black-40;
    pointer-events: none;
  }

  &__user {
    // fix: на больших экранах увеличить
    --user-size: #{rem(75)};

    @include circle(var(--user-size));
    @include flex();
    @include abs-center(y);
    @include light();
    @include border-gradient-rounded();

    top: -35px;
    border: none;
    background-color: $black-60;
    cursor: pointer;
    pointer-events: auto;

    &::before,
    &::after {
      opacity: 0.05;
    }

    &:hover::before,
    &:hover::after {
      opacity: 1;
    }

    &:hover {
      .testimoni__text {
        display: block;
      }
    }
  }

  &__avatar {
    @include circle(50px);

    position: relative;
    border: 1px solid $black-100;
    opacity: 0.2;
    transition-duration: $transition-duration;

    &--visible {
      opacity: 1;
    }
  }

  &__text {
    @include abs-center(x);

    left: 105%;
    display: none;
    max-width: fluid(350, 200);
    width: max-content;
    padding: rem(20) rem(15);
    background-color: $black-60;
    border: 1px solid transparent;
    border-image: $border-gradient-to-left 1;
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 5% 100%, 0% 50%, 5% 0);
    cursor: default;
  }

  &__description {
    color: $grey-2;
  }

  &__author {
    display: inline-block;
    color: $white;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-image: $color-gradient;
    }
  }
}