@use '../helpers' as *;

.testimoni {
  @include abs-center();
  pointer-events: none;

  &__orbit {
    @include abs-center();

    border-radius: 50%;
    border: 1px solid $black-40;
    pointer-events: none;
  }

  &__user {
    $user-size: rem(75);

    @include circle($user-size);
    @include flex();
    @include abs-center(y);
    @include light();
    @include border-gradient-rounded();

    border: none;
    background-color: $black-60;
    top: -35px;
    cursor: pointer;
    pointer-events: auto;
    z-index: 400;

    &::before,
    &::after {
      opacity: 0.05;
    }

    &:hover::before,
    &:hover::after {
      opacity: 1;
    }

    &:hover {
      .testimoni__text {
        display: block;
      }
    }
  }

  &__avatar {
    @include circle(50px);

    opacity: 0.2;
    position: relative;
    border: 1px solid $black-100;
    transition-duration: $transition-duration;

    &--visible {
      opacity: 1;
    }
  }

  &__text {
    @include abs-center(x);

    display: none;
    left: 105%;
    background-color: $black-60;
    padding: rem(20) rem(15);
    width: max-content;
    max-width: rem(350);
    border: 1px solid transparent;
    border-image: $border-gradient-to-left 1;
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 5% 100%, 0% 50%, 5% 0);

    @include media(tablet) {
      max-width: rem(200);
    }
  }

  &__description {
    color: $grey-2;
  }

  &__author {
    display: inline-block;
    color: $white;

    &::after {
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      background-image: $color-gradient;
    }
  }
}