@use '../helpers' as *;

.testimonial {
  height: 100vh;
  margin-top: var(--section-space);
  margin-inline: auto;
  position: relative;
  // Почему не работает min-height ?

  &__header {
    position: relative;
    pointer-events: none;
    z-index: 300;

    @include media(laptop) {
      top: 35%;
    }

    @include media(tablet) {
      top: 0;
    }
  }

  &__main-image {
    @include abs-center();
    z-index: 300;
    pointer-events: none;

    @include media(laptop-large) {
      width: rem(500);
      height: auto;
    }
  }

  &__body {
    @include light();

    position: relative;
    height: 100%;
    width: 100%;

    @include media(laptop) {
      top: 10%;
    }

  }
}