/// Модуль предназначенный для определения глобальных стилей приложения.

@use '../helpers' as *;

:root {

  @media (min-width: 1920px) {
    --section-space: #{rem(125)};
    --container-width: 80vw;
    --font-size-base: 18px;
  }

  @include media(laptop-large) {
    --section-space: #{rem(75)};
  }

  @include media(laptop) {
    --container-width: 1000px;
  }

  @include media(tablet) {
    --section-space: #{rem(50)};
    --font-size-base: 14px;
    --container-width: 700px;
  }

  @include media(mobile) {
    --font-size-base: 12px;
    --container-width: 80vw;
  }
}

body {
  font-family: 'Chakra Petch';
  background-color: $black-100;
  color: $grey-2;
  line-height: 1.75;
  font-size: var(--font-size-base);
  overflow-x: hidden;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: $white;
}

.h2,
.h3 {
  text-align: center;
}

/// По умолчанию выравнивание по центру, но по макету, примерно в половине случаев необходимо выравнивание по левому краю. Поэтому решено сделать модификатор
.h2--align_start,
.h3--align_start {
  text-align: start;
}

/// Класс для градиентных заголовков, обычно дублирующих название секции
.h2 {
  font-weight: 500;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  background: $color-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/// Класс для информационных заголовкой, несущих в себе бизнес ценность
.h3 {
  font-weight: 600;
  font-size: fluid(48, 32);
  line-height: 1.2;
}

.h4 {
  font-weight: 600;
  font-size: rem(28);
  letter-spacing: -0.01em;
}

.h5 {
  font-weight: 600;
  font-size: fluid(32, 20);
  line-height: 143%;
}